/*
https://codepen.io/adammacias/pen/WvxVRP
*/
#navbar-main {
    /* Added `.affix-top` class css when the element is top */
    /* Added `.affix` class css when the element is >= 170px (Look: line 8 html) */
    /* Added `.affix-bottom` class css when the element is footer */
}
#navbar-main.affixed-top {
    background: black;
}
#navbar-main.affix {
    background: gray;
    top: 0;
    left: 0;
    right: 0;
}
#navbar-main.affix-bottom {
    background: red;
}

/* Not important */
.footer {
    background: #eee;
    height: 1000px;
}