<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="/fragments/head :: head" th:remove="tag"/>
    <title>Login</title>
</head>
<body>

<!--header section-->
<div th:replace="fragments/header :: header ">
    <header>
        <h1>Sda warehouse</h1>
        <nav class="navbar navbar-inverse sticky-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteLogo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Sales order</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Stock</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Raport</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="main-login main-center; col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading-registr"><b>ADD NEW USER:</b></div>
            </div>
            <form action="#" th:action="@{/check}" th:object="${product}" method="post">
                <div class="panel panel-default">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" th:field="*{name}"/></td>
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><input type="text" th:field="*{description}"/></td>
                            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error
                            </td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td><input type="text" th:field="*{location}"/></td>
                            <td th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</td>
                        </tr>
                        <tr>
                            <td>Quantity:</td>
                            <td><input type="text" th:field="*{quantity}"/></td>
                            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
                        </tr>
                        <tr>
                            <td>Photo:</td>
                            <td><input type="text" th:field="*{photo}"/></td>
                            <td th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}">Photo Error</td>
                        </tr>
                        <tr>
                            <td>Product's category:</td>
                            <td>
                                <select th:field="*{category}" style="width: 175px;">
                                    <option th:value="NULL">Select</option>
                                    <option th:each="category : ${categories}" th:value="${{category}}"
                                            th:text="${category.name}">Wireframe
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Book Author:</td>
                            <td>
                                <select th:field="*{bookAuthor}" style="width: 175px;">
                                    <option th:value="NULL">Select</option>
                                    <option th:each="bookAuthor : ${bookAuthor}" th:value="${{bookAuthor}}"
                                            th:text="${bookAuthor.name}">Wireframe
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ISBN:</td>
                            <td><input type="text" th:field="*{ISBN}"/></td>
                            <td th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}">ISBN Error</td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td><input type="text" th:field="*{price}"/></td>
                            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button ">Submit
                </button>
                <a class="btn btn-primary btn-lg btn-block login-button" th:href="@{'/home/'}">Back</a>
            </form>
        </div>
    </div>
</div>
</div>

<div th:replace="fragments/footer :: footer "></div>

</body>
</html>