<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header ">
    <header>
        <h1>Sda warehouse</h1>
        <nav class="navbar navbar-inverse sticky-top" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteLogo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>

                </ul>
            </div>
        </nav>
    </header>
</div>

<div>

    <h1>Welcome!</h1>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia ipsum at turpis vehicula euismod.
            Nam ut rutrum leo. Praesent purus felis, vestibulum nec quam in, aliquam interdum augue.
            Donec tincidunt tellus arcu, non sagittis arcu porttitor sed. Donec tristique magna a ante faucibus feugiat.
            Cras nec libero gravida, accumsan ligula quis, maximus elit. Vestibulum in congue nisl, sed convallis nunc.
            Fusce neque neque, fermentum in molestie vitae, tincidunt nec nulla. Donec eleifend risus vel urna facilisis,
            sit amet euismod ipsum rutrum.</p>
        <p>
            Morbi dolor risus, molestie vitae imperdiet quis, tempor vel mi. Aliquam mauris libero, tempus nec sapien vel,
            porta auctor mauris. Nam ac sem rhoncus, molestie risus nec, ullamcorper sem. Sed ac blandit purus. Nunc id urna ante.
            Phasellus augue nisl, ultricies id velit pretium, euismod blandit diam. Curabitur at nulla ac nibh blandit volutpat.
            Proin vestibulum varius lorem, at mattis turpis tincidunt ac. Curabitur ullamcorper mauris in ipsum posuere,
            vel hendrerit arcu fringilla. Cras est eros, lobortis ac dictum eu, mattis vitae odio. Sed facilisis mattis mauris,
            non efficitur elit. Etiam non dictum nunc, non varius augue. Cras non tempus nulla.
        </p>
    </div>
</div>

<div th:replace="fragments/footer :: footer ">
    <footer>
        <p>Sda </p>
    </footer>
</div>

</body>
</html>