<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="/fragments/head :: head" th:remove="tag"/>
    <title>Login</title>
</head>
<body>

<div th:replace="fragments/header :: header "></div>

<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="main-login main-center; col-sm-6">
            <form class="form-horizontal" method="post" action="#">

                <div class="form-group;">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"
                                   placeholder="Enter email"/>
                        </div>
                    </div>
                </div>
                <div class="form-group;">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter password"/>
                        </div>
                        <br/>
                        <div class="form-group; com-md-8">
                            <button type="button" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                            <button type="button" class="btn btn-primary btn-lg btn-block login-button">Login as a guest
                            </button>
                            <br/>
                            <!-- Trigger the modal with a button -->
                            <a href="password-recovery">
                                <button type="button" class="btn btn-lg btn-block login-button" id="myBtn">I
                                    forgot my password
                                </button>
                            </a>
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding:15px 20px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <p>Please enter your email to receive message with link</p>
                                        </div>
                                        <div class="modal-body" style="padding:5px 10px;">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="username"><span
                                                            class="glyphicon glyphicon-envelope"></span>
                                                        Username</label>
                                                    <input type="text" class="form-control" id="username"
                                                           placeholder="Enter email">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-block"><span
                                                        class="glyphicon glyphicon-send"></span> Send
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger btn-default pull-left"
                                                    data-dismiss="modal"><span
                                                    class="glyphicon glyphicon-remove"></span> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer "></div>

<script>
    $(document).ready(function () {
        console.log("test");
        $("#myBtn").click(function () {
            console.log("test2");
            $("#myModal").modal();
        });
    });
</script>
</body>
</html>