<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="/fragments/head :: head" th:remove="tag"/>
    <title>SDA Warehouse - Stock Amount Change</title>
</head>
<body>

<!--header section-->
<div th:replace="fragments/header :: header ">
    <header>
        <h1>Sda warehouse</h1>
        <nav class="navbar navbar-inverse sticky-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteLogo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Sales order</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Stock</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Raport</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<!--header stock amount change section-->
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading-registr"><b>STOCK AMOUNT CHANGE</b></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<!--change stock amount section-->
<div class="container">
    <form class="upgrade-product form-horizontal" action=" " method="post">

        <fieldset>

            <!-- NAME -->

            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="name" field="name" class="form-control" th:value="${product.name}" type="text"
                               readonly>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->

            <div class="form-group">
                <label class="col-md-4 control-label">Description</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <textarea class="form-control" name="description" th:text="${product.description}" rows="5"
                                  readonly></textarea>
                    </div>
                </div>
            </div>

            <!-- LOCATION -->

            <div class="form-group">
                <label class="col-md-4 control-label">Location</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="location" th:value="${product.location}" class="form-control" type="text" readonly>
                    </div>
                </div>
            </div>

            <!-- QUANTITY -->

            <div class="form-group">
                <label class="col-md-4 control-label">Quantity</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="quantity" th:value="${product.quantity}" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- PHOTO -->

            <div class="form-group">
                <label class="col-md-4 control-label">Photo</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="photo" th:value="${product.photo}" class="form-control" type="text" readonly>
                    </div>
                </div>
            </div>

            <!-- CATEGORY -->

            <div class="form-group">
                <label class="col-md-4 control-label">Category</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <select name="category" class="form-control selectpicker">
                            <option value=" ">Please select category</option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>

                        </select>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Send</button>
                    <a class="btn btn-default" th:href="@{'/products/product/'+ ${product.id}}">Back</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div th:replace="fragments/footer :: footer ">
    <footer>
        <p>Sda warehouse management application powered by Sda-javapoz3</p>
    </footer>
</div>

</body>
</html>